<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/home']">
      Saint Gobain Train MI
    </a>
  </div>
  <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-hoverable" [routerLink]="['/home']">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="auth.isAuthenticated">
        <a class="navbar-link">
          Categories
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/saintGobain/training']">
            Training
          </a>
          <a class="navbar-item" [routerLink]="['/saintGobain/category']">
            Category
          </a>
          <a class="navbar-item" [routerLink]="['/saintGobain/campaign']">
            Campaign
          </a>
          <a class="navbar-item" [routerLink]="['/saintGobain/need']">
            Need
          </a>
          <a class="navbar-item">
            User List
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Role
          </a>
          <a class="navbar-item" [routerLink]="['/saintGobain/contact']">
            Contact
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-white is-small" [routerLink]="['/login']" *ngIf="!auth.isAuthenticated">
              <span>
                Login
              </span>
            </a>
            <a class="button is-white is-small" [routerLink]="['/register']" *ngIf="!auth.isAuthenticated">
              <span>
                Register
              </span>
            </a>
            <a class="button is-white is-small" (click)="logout()" *ngIf="auth.isAuthenticated">
              <span>
                Sign-out
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<div class="container">
  <router-outlet>
    <span class="spinner" *ngIf="loading">
      <p-progressSpinner></p-progressSpinner>
    </span>
  </router-outlet>
</div>
