<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Campaign</span>
      <button type="button" class="button is-small is-primary is-mobile" style="float:right" [routerLink]="['/saintGobain/AddCampaign']">New Campaign</button>
    </div>
  </p-header>
  <p-dataTable [value]="camp" [loading]="loading" loadingIcon="fa-spinner" [responsive]="true">
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="description" header="Description"></p-column>
    <p-column field="maximumWishes" header="Maximum Wishes" [style]="{width: '150px', 'text-align': 'center'}"></p-column>
    <p-column field="isActive" styleClass="col-button" header="Active" [style]="{width: '100px', 'text-align': 'center'}">
      <ng-template let-row="rowData" pTemplate="body">
        <span *ngIf="row.isActive">
          Active
        </span>
        <span *ngIf="!row.isActive">
          In-Active
        </span>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
