<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <div class="card" style="width:40%; height: 40%">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="../assets/images/{{category?.imageUrl}}" style="cursor:pointer">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <div class="columns">
              <div class="column">
                <p class="title is-4">{{category?.name}}</p>
              </div>
              <div class="column">
                <a [routerLink]="['/category']" class="pull-right">Back</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="u-g">

  <b-training-list [trainings]="category?.trainings"></b-training-list>
</div>
