<div class="u-g">
  <div class="dialog-content-inherit" [@pageAnimation]="'in'">
    <div style="padding:3px" class="ui-g-12 ui-md-3" *ngFor="let category of categories">
      <div class="card" [routerLink]="['/category', category?.categoryId]">
        <div class="card-image">
          <figure class="image is-3by2">
            <img src="assets/images/{{category.imageUrl}}" style="cursor:pointer">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-6">{{category?.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
