<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by2">
          <img src="../assets/images/{{category?.imageUrl}}" style="cursor:pointer">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <p class="title is-4">{{category?.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <b-training-list [trainings]="category?.trainings"></b-training-list>
  </div>
</div>
